---
title: "TechMunching Admin"
layout: default
permalink: "/author-tech-munching.html"
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}} <span class="small btn btn-outline-success btn-sm btn-round"><a href="{{ site.authors.admin.twitter }}">Follow</a></span></h2>
                <p><a href="{{ site.authors.admin.site }}">{{ site.authors.admin.site }}</a></p>
                <p class="excerpt">{{ site.authors.admin.bio }}</p>
            </div>
            <div class="col-md-3 text-right">
                <picture>
                    <source type="image/webp" srcset="{{ site.authors.admin.avatar }}.webp" >
                    <img alt="{{ site.authors.admin.name }}" src="{{ site.authors.admin.avatar }}.jpg" class="rounded-circle" height="100" width="100" />
                </picture>
            </div>
        </div>
        <h4 class="font-weight-bold spanborder"><span>Posts by {{page.title}}</span></h4>
            {% assign posts = site.posts | where:"author","TechMunching Admin" %}
            {% for post in posts %}
            {% include main-loop-card.html %}
            {% endfor %}
    </div>
</div>
</div>