<!--  Replace menu links here -->

<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li> -->
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li> -->
<li class="nav-item">
<a style="color: #0e76a8;font-size: 1.5em;" target="_blank" class="nav-link" href="https://www.linkedin.com/in/techmunching"><i class="fab fa-linkedin"></i></a>
</li>
<li class="nav-item">
<a style="color: #15aabf;font-size: 1.5em;padding-top: 7%;" class="nav-link" href="/"><i class="fas fa-mug-hot"></i></a>
</li>
